@media screen and (max-width: 575px) {
    .reaction {
        background-color: hsla(0, 100%, 67%, 0.1);
        max-height: 46px;
        max-width: 100%;
    }
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.attribution { 
    font-size: 11px; 
    padding-top: 2rem;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.btn {
    background-color: hsla(241, 72%, 46%);
    color: white;
    margin: 2rem 1rem;
}
 
.card-group {
    max-width: 600px;
}

.circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100px;
    height: 110px;
    width: 110px;
    margin: 20px auto;
}

.circle h1 {
    margin-top: 1rem;
}

.circle p {
    vertical-align: middle;
}

.left-card {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.memory p {
    color: hsl(39, 100%, 56%); 
}

.rounded-circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.summary-desc {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.sum-subtitle {
    padding-top: 1rem;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction p {
    color: hsla(0, 100%, 67%);
}

.results {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 10px;
    padding-left: 15px;
}

.right-card {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.right-card .alignright {
    padding-right: 1rem;
    color: hsl(224, 30%, 27%);
}

.right-card h5 {
    padding-left: 1rem;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal p {
    color: hsla(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.visual p {
    color: hsla(234, 85%, 45%);
}